# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# log files
*.log

# .mp4 video files
*.mp4
